@using HelperMethods.Infrastructure
@model string

@{
    Layout = null;
}

@helper ListArrayItems(IEnumerable<string> items)
{
    <ul>
        @foreach (var item in items)
        {
            <li>@item</li>
        }
    </ul>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Here are the fruits: @ListArrayItems(ViewBag.Fruits)
    </div>    
    <div>
        Here are the cities: @Html.ListArrayItems((string[])ViewBag.Cities)
    </div>
    <div>
        <p>Content from the view:</p>
        <div style="border: thin solid black; padding: 10px">
            The message:
            <p>@Model</p>
        </div>
    </div>
    <div>
        <p>Content from the view using helper method</p>
        <div style="border: thin solid black; padding: 10px">
            @Html.DisplayMessage(@Model)
        </div>
    </div>
</body>
</html>
